html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
.question__container {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	padding: 0 2em;

	.responses__container {
		display: flex;
		flex-direction: column;
		row-gap: 1em;

		.response {
			display: flex;
			width: 70%;
			gap: 1em;
		}
	}
	.form__container > form {
		display: flex;
		flex-direction: column;
		row-gap: 0.5em;
	}
}
